{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}


<h1 class="text-center">Bienvenue chez Village Green</h1>

<p>
    Nous sommes spécialisés dans la vente d'instruments folk et traditionnels.
</p>
<p>
    Amoureux et amoureuses de la musique folk, vous êtes au bon endroit
</p>
<a href="{{ path('categories') }}">Accéder à la boutique</a>

    


{% endblock %}
