{% extends 'base.html.twig' %}

{% block title %}Qui sommes-nous ? - Village Green{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container">
    <h1>Qui sommes-nous ?</h1>


    <p>
        En ligne depuis 2022, nous tentons depuis de gérer la violence de l'entropie de l'univers, passer à travers le temps en nous voyant viellir jour après jour, 
        heure après heure, en attendant l'inéluctable néant de la mort.
    </p>
    <p>
        Et sinon, on vend des instruments de musique.
    </p>

</div>
{% endblock %}
