/*Général*/

html, body {height: 100%;
font-size: 100%
}

#faux_column {
    display:flex;
    flex-wrap:nowrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5px;
}

#faux_column .gauche {
    width: 100%;
}
#faux_column .droite {
    background-color: silver;
    min-width: 30%;
}

h1 {
    font-size: xx-large;
}

nav {
    background-color: black;
    display: flex;
    margin-bottom: 5px;
}

a {
    color: white;
}

li {
    display: inline;
}

footer {
    width: 100%;
    background-color: black;
    display: flex;
}

.top {
    width: 100%;
    display: inline;
}
#slogan {
    position:relative;
    left: 33%;
    bottom: 20px;
    font-size: 3em;
    font-weight: bold;
}


@media screen and (max-width: 768px) {
    .top {
        display:inline;
        text-align: auto;
    }
    #slogan {
        left: 20%;
        font-size: 2.5em;
        bottom: 20px;
    }
    .droite {
        display:none
    }
    li {
        display:block;
    }

}
@media screen and (max-width: 576px) {
    .top {
        display:block;
        text-align: center;
    }
    #slogan {
        left: auto;
        font-size: 1.5em;
        bottom: auto;
    }
}

.top img {
    max-width: 10%;
    min-width: 200px;
}

/*Tableau*/


table {
    table-layout: fixed;
    width: 100%;
    border: 3px solid red;
    border-collapse: collapse;
    margin-bottom: 5px;
}

th {
    background-color: #dddddd
}

tr:nth-of-type(even) {
    background-color: #ddddee
}

td, th {
    border: 1px solid black;
    text-align: center;
}

table img {
    max-width: 100%;
}

/*Formulaire*/

form {
    width: 100%;
    padding: 15px;
}

em {
    color: red;
    font-weight: bold;
}

fieldset {
    border : 2px solid black;
    background-color: #f3f3f3
}
legend {
    font-family: helvetica, arial;
    font-size: 22px;
    font-weight: bold;
}
@media screen and (max-width: 768px) {
    form {
        padding:0
    }
}